In [1]:
!which python

/opt/conda/bin/python

In [2]:
!pip install pandas pyarrow s3fs

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.12/site-packages (19.0.1)
Requirement already satisfied: s3fs in /opt/conda/lib/python3.12/site-packages (2024.10.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: aiobotocore<3.0.0,>=2.5.4 in /opt/conda/lib/python3.12/site-packages (from s3fs) (2.21.1)
Requirement already satisfied: fsspec==2024.10.0.* in /opt/conda/lib/python3.12/site-packages (from s3fs) (2024.10.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/conda/lib/python3.12/site-packages (from s3fs) (3.9.5)
Requirement already satisfied: aioitertools<1.0.0,>=0.5.1 in /opt/conda/lib/python3.12/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (0.12.0)
Requirement already satisfied: botocore<1.37.2,>=1.37.0 in /opt/conda/lib/python3.12/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.37.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.12/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.0.1)
Requirement already satisfied: multidict<7.0.0,>=6.0.0 in /opt/conda/lib/python3.12/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (6.2.0)
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /opt/conda/lib/python3.12/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.17.2)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.5.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.18.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.12/site-packages (from botocore<1.37.2,>=1.37.0->aiobotocore<3.0.0,>=2.5.4->s3fs) (2.3.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.12/site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.10)
Requirement already satisfied: propcache>=0.2.0 in /opt/conda/lib/python3.12/site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (0.2.1)

In [3]:
import pandas as pd
import pyarrow.parquet as pq
import s3fs

# Initialize S3 filesystem
fs = s3fs.S3FileSystem(anon=False)

# Define the base path and years/months
base_path = "jaath-buckets-0491f6b4-2be4-4ab9-9aa2-c62891ad4a9c/taxi/glue-transformed"
years = ['2023', '2024']
months = [f"{i:02d}" for i in range(1, 13)]

# Gather all matching file paths
parquet_files = []
for year in years:
    for month in months:
        path = f"{base_path}/year={year}/month={month}/"
        try:
            files = fs.ls(path)
            parquet_files.extend(["s3://" + f for f in files if f.endswith(".parquet") or f.endswith(".snappy.parquet")])
        except FileNotFoundError:
            # Skip months that don't exist
            continue

# Load all Parquet files into a single DataFrame
df_list = []
for file in parquet_files:
    df = pq.ParquetDataset(file, filesystem=fs).read().to_pandas()
    df_list.append(df)

# Concatenate all dataframes
full_df = pd.concat(df_list, ignore_index=True)

# Show the resulting DataFrame
print(full_df.head())

           pickup_hour  pickup_location_id  rides  year  month
0  2023-01-01 00:00:00                   2      0  2023      1
1  2023-01-01 01:00:00                   2      0  2023      1
2  2023-01-01 02:00:00                   2      0  2023      1
3  2023-01-01 03:00:00                   2      0  2023      1
4  2023-01-01 04:00:00                   2      0  2023      1

In [4]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4394088 entries, 0 to 4394087
Data columns (total 5 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_hour         object
 1   pickup_location_id  int16
 2   rides               int16
 3   year                int32
 4   month               int32
dtypes: int16(2), int32(2), object(1)
memory usage: 83.8+ MB

In [3]:
!pip install --upgrade psycopg2-binary SQLAlchemy

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: SQLAlchemy in /opt/conda/lib/python3.12/site-packages (2.0.39)
Collecting SQLAlchemy
  Using cached sqlalchemy-2.0.40-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from SQLAlchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from SQLAlchemy) (4.12.2)
Using cached psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Using cached sqlalchemy-2.0.40-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
Installing collected packages: SQLAlchemy, psycopg2-binary
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.39
    Uninstalling SQLAlchemy-2.0.39:
      Successfully uninstalled SQLAlchemy-2.0.39
Successfully installed SQLAlchemy-2.0.40 psycopg2-binary-2.9.10

In [1]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql+psycopg2://postgres:project#3password@rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com:5432/postgres")

with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    print(result.fetchone())

ModuleNotFoundError: No module named 'psycopg2'

In [9]:
#!aws configure get region
create_sql = """
CREATE TABLE IF NOT EXISTS taxi_rides (
    pickup_hour VARCHAR(20),
    pickup_location_id SMALLINT,
    rides SMALLINT,
    year SMALLINT,
    month SMALLINT
);
"""
with engine.connect() as conn:
    conn.execute(text(create_sql))
    conn.commit()

In [10]:
df.to_sql('taxi_rides',con=engine,index=False, if_exists='replace')

872

In [11]:
import pandas as pd
pd.read_sql("SELECT * FROM taxi_rides LIMIT 5",con=engine)

           pickup_hour  pickup_location_id  rides  year month
0  2024-12-30 08:00:00                 234     31  2024    12
1  2024-12-30 09:00:00                 234     47  2024    12
2  2024-12-30 10:00:00                 234     76  2024    12
3  2024-12-30 11:00:00                 234     85  2024    12
4  2024-12-30 12:00:00                 234    104  2024    12

In [12]:
# check connection
import socket
host = "taxi-db.cpkuaew6kys1.us-east-2.rds.amazonaws.com"
port = 5432
try:
    socket.create_connection((host, port), timeout=5)
    print("✅ Able to reach the database on port 5432")
except Exception as e:
    print(f"❌ Could not connect: {e}")

✅ Able to reach the database on port 5432

In [14]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# Connect to default 'postgres' database to create a new one
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='project#3password',
    host='rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com',
    port=5432
)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

cur = conn.cursor()
cur.execute("CREATE DATABASE taxidata;")
cur.close()
conn.close()

In [15]:
from sqlalchemy import create_engine
engine = create_engine(
    "postgresql+psycopg2://postgres:project#3password@rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com:5432/postgres"
)

In [ ]:
# full_df.to_sql('taxi_rides', con=engine, index=False, if_exists='replace')

In [ ]:
# pd.read_sql("SELECT * FROM taxi_rides LIMIT 5",con=engine)

In [16]:
import pandas as pd

pd.read_sql("SELECT count(*) FROM taxi_rides LIMIT 5;", con=engine)

   count
0  20872

In [18]:
import pandas as pd
import s3fs
import re

fs = s3fs.S3FileSystem()

bucket_base = 'jaath-buckets-0491f6b4-2be4-4ab9-9aa2-c62891ad4a9c/taxi/test-predicted-values'
years = ['2023', '2024']

df_list = []

# List all pickup_location_id folders
location_paths = fs.ls(bucket_base)
for loc_path in location_paths:
    # Extract location ID from the folder name
    loc_match = re.search(r'pickup_location_id=(\d+)', loc_path)
    if not loc_match:
        continue
    location_id = int(loc_match.group(1))

    for year in years:
        try:
            months = fs.ls(f"{loc_path}/year={year}")
            for month_path in months:
                month_match = re.search(r'month=(\d+)', month_path)
                if not month_match:
                    continue
                month = int(month_match.group(1))
                days = fs.ls(month_path)
                for day_path in days:
                    day_match = re.search(r'day=(\d+)', day_path)
                    if not day_match:
                        continue
                    day = int(day_match.group(1))
                    hours = fs.ls(day_path)
                    for hour_path in hours:
                        hour_match = re.search(r'hour=(\d+)', hour_path)
                        if not hour_match:
                            continue
                        hour = int(hour_match.group(1))
                        file_path = f"{hour_path}/prediction.csv"
                        if fs.exists(file_path):
                            df = pd.read_csv(f"s3://{file_path}")
                            df['pickup_location_id'] = location_id
                            df['year'] = int(year)
                            df['month'] = month
                            df['day'] = day
                            df['hour'] = hour
                            df_list.append(df)
        except FileNotFoundError:
            continue

# Combine all data
predictions_df = pd.concat(df_list, ignore_index=True)

# Preview
print(predictions_df.head())

   prediction_datetime  predicted_rides  pickup_location_id  year  month  day  \
0  2024-01-01 00:00:00               33                 132  2024      1    1
1  2024-01-01 01:00:00               62                 132  2024      1    1
2  2024-01-01 10:00:00               32                 132  2024      1    1
3  2024-01-01 11:00:00               56                 132  2024      1    1
4  2024-01-01 12:00:00               61                 132  2024      1    1

   hour
0     0
1     1
2    10
3    11
4    12

In [19]:
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26352 entries, 0 to 26351
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   prediction_datetime  26352 non-null  object
 1   predicted_rides      26352 non-null  int64
 2   pickup_location_id   26352 non-null  int64
 3   year                 26352 non-null  int64
 4   month                26352 non-null  int64
 5   day                  26352 non-null  int64
 6   hour                 26352 non-null  int64
dtypes: int64(6), object(1)
memory usage: 1.4+ MB

In [20]:
from sqlalchemy import create_engine

predictions_df['pickup_location_id'] = 43

engine = create_engine(
    "postgresql+psycopg2://postgres:project#3password@rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com:5432/postgres"
)

# Load into a new table
predictions_df.to_sql('predicted_rides', con=engine, index=False, if_exists='replace')

352

In [21]:
predictions_df

,prediction_datetime,predicted_rides,pickup_location_id,year,month,day,hour
0,2024-01-01 00:00:00,33,43,2024,1,1,0
1,2024-01-01 01:00:00,62,43,2024,1,1,1
2,2024-01-01 10:00:00,32,43,2024,1,1,10
3,2024-01-01 11:00:00,56,43,2024,1,1,11
4,2024-01-01 12:00:00,61,43,2024,1,1,12
...,...,...,...,...,...,...,...
26347,2024-12-31 05:00:00,2,43,2024,12,31,5
26348,2024-12-31 06:00:00,7,43,2024,12,31,6
26349,2024-12-31 07:00:00,22,43,2024,12,31,7
26350,2024-12-31 08:00:00,34,43,2024,12,31,8
26351,2024-12-31 09:00:00,39,43,2024,12,31,9

In [22]:
pd.read_sql("SELECT * FROM predicted_rides LIMIT 5;", con=engine)

,prediction_datetime,predicted_rides,pickup_location_id,year,month,day,hour
0,2024-01-01 00:00:00,33,43,2024,1,1,0
1,2024-01-01 01:00:00,62,43,2024,1,1,1
2,2024-01-01 10:00:00,32,43,2024,1,1,10
3,2024-01-01 11:00:00,56,43,2024,1,1,11
4,2024-01-01 12:00:00,61,43,2024,1,1,12

In [23]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text("""
        CREATE INDEX IF NOT EXISTS idx_taxi_rides_loc_hour
        ON taxi_rides (pickup_location_id, pickup_hour);
    """))

    conn.execute(text("""
        CREATE INDEX IF NOT EXISTS idx_predicted_rides_loc_datetime
        ON predicted_rides (pickup_location_id, prediction_datetime);
    """))

In [4]:
!pip install streamlit

Collecting streamlit
  Using cached streamlit-1.44.1-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: altair<6,>=4.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /opt/conda/lib/python3.12/site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /opt/conda/lib/python3.12/site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /opt/conda/lib/python3.12/site-packages (from streamlit) (5.28.3)
Requirement already satisfied: pyarrow>=7.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (19.0.1)
Requirement already satisfied: requests<3,>=2.27 in /opt/conda/lib/python3.12/site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (9.0.0)
Collecting toml<2,>=0.10.1 (from streamlit)
  Using cached toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /opt/conda/lib/python3.12/site-packages (from streamlit) (4.12.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Using cached watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /opt/conda/lib/python3.12/site-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Using cached pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /opt/conda/lib/python3.12/site-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /opt/conda/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /opt/conda/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (1.31.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/conda/lib/python3.12/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/conda/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.12/site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.23.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Using cached streamlit-1.44.1-py3-none-any.whl (9.8 MB)
Using cached pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
Using cached toml-0.10.2-py2.py3-none-any.whl (16 kB)
Using cached watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
Installing collected packages: watchdog, toml, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.44.1 toml-0.10.2 watchdog-6.0.0

In [16]:
# import streamlit as st
# import pandas as pd
# import plotly.express as px
# import boto3
# import time
# from datetime import datetime, timedelta
# from zoneinfo import ZoneInfo

# # -----------------------
# # Athena Query Function
# # -----------------------
# @st.cache_data
# def run_athena_query(hour, query: str, database: str, s3_output: str) -> pd.DataFrame:
#     athena_client = boto3.client('athena', region_name="us-east-1")

#     response = athena_client.start_query_execution(
#         QueryString=query,
#         QueryExecutionContext={'Database': database},
#         ResultConfiguration={'OutputLocation': s3_output}
#     )

#     query_execution_id = response['QueryExecutionId']
#     state = 'RUNNING'

#     while state in ['RUNNING', 'QUEUED']:
#         response = athena_client.get_query_execution(QueryExecutionId=query_execution_id)
#         state = response['QueryExecution']['Status']['State']
#         if state in ['RUNNING', 'QUEUED']:
#             time.sleep(1)

#     if state != 'SUCCEEDED':
#         reason = response['QueryExecution']['Status'].get('StateChangeReason', 'Unknown')
#         raise Exception(f"Athena query failed: {state} - {reason}")

#     results = []
#     columns = []
#     next_token = None
#     first_page = True

#     while True:
#         if next_token:
#             result_set = athena_client.get_query_results(
#                 QueryExecutionId=query_execution_id,
#                 NextToken=next_token
#             )
#         else:
#             result_set = athena_client.get_query_results(QueryExecutionId=query_execution_id)

#         if first_page:
#             columns = [col['Label'] for col in result_set['ResultSet']['ResultSetMetadata']['ColumnInfo']]
#             first_page = False

#         rows = result_set['ResultSet']['Rows']
#         if next_token is None:
#             rows = rows[1:]  # skip header

#         for row in rows:
#             results.append([field.get('VarCharValue', '') for field in row['Data']])

#         next_token = result_set.get('NextToken')
#         if not next_token:
#             break

#     df = pd.DataFrame(results, columns=columns)

#     for col in df.columns:
#         try:
#             df[col] = pd.to_datetime(df[col])
#         except:
#             try:
#                 df[col] = pd.to_numeric(df[col])
#             except:
#                 pass

#     return df

# # -----------------------
# # Streamlit App
# # -----------------------
# st.title("NYC Taxi Rides Forecast")

# # Tabs
# tab1, tab2 = st.tabs(["Athena", "RDS"])

# # -----------------------
# # Tab: Athena
# # -----------------------
# with tab1:
#     # Pickup Location Input
#     location_id = st.number_input("Enter Pickup Location ID", min_value=1, max_value=300, value=43)

#     # Use Eastern Time (New York)
#     eastern = ZoneInfo("America/New_York")
#     now_ny = datetime.now(tz=eastern)

#     # Calculate the same week last year in NY time
#     end_date = now_ny - timedelta(days=358)
#     start_date = now_ny - timedelta(days=365)

#     # Round down to start of the hour
#     start_rounded = start_date.replace(minute=0, second=0, microsecond=0)

#     # Round up to next full hour if needed
#     if end_date.minute > 0 or end_date.second > 0 or end_date.microsecond > 0:
#         end_rounded = (end_date + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0)
#     else:
#         end_rounded = end_date.replace(minute=0, second=0, microsecond=0)

#     # Format for Athena query (still using naive-looking string)
#     start_str = start_rounded.strftime("%Y-%m-%d %H:%M:%S")
#     end_str = end_rounded.strftime("%Y-%m-%d %H:%M:%S")


#     # Athena setup
#     s3_output = 's3://mkzia-e4d44080-fbfa-41ff-9fca-3aaf9c307667/athena/'

#     # Queries
#     actual_query = f"""
#     SELECT DISTINCT
#         pickup_hour,
#         rides
#     FROM glue_transformed
#     WHERE
#         pickup_location_id = {location_id}
#         AND pickup_hour BETWEEN '{start_str}' AND '{end_str}'
#     ORDER BY pickup_hour;
#     """

#     predicted_query = f"""
#     SELECT DISTINCT
#         prediction_datetime,
#         predicted_rides
#     FROM test_predicted_values
#     WHERE
#         pickup_location_id = '{location_id}'
#         AND prediction_datetime BETWEEN '{start_str}' AND '{end_str}'
#     ORDER BY prediction_datetime;
#     """

#     # Run Queries
#     try:
#         actual_df = run_athena_query(now_ny.hour, actual_query, 'etl_taxi_transformed', s3_output)
#         predicted_df = run_athena_query(now_ny.hour, predicted_query, 'taxi_predictions', s3_output)

#         # Plot
#         fig = px.line()
#         fig.add_scatter(x=actual_df['pickup_hour'], y=actual_df['rides'], name='Actual Rides')
#         fig.add_scatter(x=predicted_df['prediction_datetime'], y=predicted_df['predicted_rides'], name='Predicted Rides')
#         fig.update_layout(title=f"Taxi Rides Forecast for Location {location_id}",
#                           xaxis_title="Time",
#                           yaxis_title="Number of Rides")

#         st.plotly_chart(fig)

#     except Exception as e:
#         st.error(f"❌ Error fetching data: {e}")

# # -----------------------
# # Tab: RDS
# # -----------------------
# with tab2:
#     st.subheader("RDS: Actual vs Predicted Rides")

#     # Pickup Location Input
#     location_id_rds = st.number_input("Pickup Location ID (RDS)", min_value=1, max_value=300, value=43, key="rds_loc")

#     # RDS connection settings
#     import sqlalchemy
#     from sqlalchemy import create_engine, text

#     rds_host = "taxi-db.clgo2ekc87nr.us-east-1.rds.amazonaws.com"
#     rds_db = "taxidata"
#     rds_user = "taxiuser"
#     rds_password = "Saucy-Cultural-Iguana-Decibel-Residence3"
#     rds_port = 5432

#     # Create engine
#     rds_engine = create_engine(
#         f"postgresql+psycopg2://{rds_user}:{rds_password}@{rds_host}:{rds_port}/{rds_db}"
#     )

#     # Use same time range
#     try:
#         with rds_engine.connect() as conn:
#             actual_sql = text(f"""
#                 SELECT pickup_hour, rides
#                 FROM taxi_rides
#                 WHERE pickup_location_id = :loc
#                 AND pickup_hour BETWEEN :start AND :end
#                 ORDER BY pickup_hour;
#             """)
#             predicted_sql = text(f"""
#                 SELECT prediction_datetime, predicted_rides
#                 FROM predicted_rides
#                 WHERE pickup_location_id = :loc
#                 AND prediction_datetime BETWEEN :start AND :end
#                 ORDER BY prediction_datetime;
#             """)

#             actual_df_rds = pd.read_sql(actual_sql, conn, params={
#                 'loc': location_id_rds,
#                 'start': start_str,
#                 'end': end_str
#             })

#             predicted_df_rds = pd.read_sql(predicted_sql, conn, params={
#                 'loc': location_id_rds,
#                 'start': start_str,
#                 'end': end_str
#             })

#             # Plot
#             fig_rds = px.line()
#             fig_rds.add_scatter(x=actual_df_rds['pickup_hour'], y=actual_df_rds['rides'], name='Actual Rides')
#             fig_rds.add_scatter(x=predicted_df_rds['prediction_datetime'], y=predicted_df_rds['predicted_rides'], name='Predicted Rides')
#             fig_rds.update_layout(title=f"RDS - Taxi Rides Forecast for Location {location_id_rds}",
#                                   xaxis_title="Time",
#                                   yaxis_title="Number of Rides")
#             st.plotly_chart(fig_rds)

#     except Exception as e:
#         st.error(f"❌ Error connecting to RDS: {e}")

2025-04-19 04:31:39.251 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-04-19 04:31:39.253 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.355
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /opt/conda/lib/python3.12/site-packages/ipykernel_launcher.py [ARGUMENTS]
2025-04-19 04:31:39.357 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.358 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.359 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.361 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.363 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.363 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.364 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.365 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.367 Session state does not function when running a script without `streamlit run`
2025-04-19 04:31:39.368 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.369 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.374 No runtime found, using MemoryCacheStorageManager
2025-04-19 04:31:39.375 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.376 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.379 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.586 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.587 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.588 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.589 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.594 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.596 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.597 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.598 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.599 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.600 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.601 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.602 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.609 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-19 04:31:39.610 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [17]:
# from datetime import datetime, timedelta
# from zoneinfo import ZoneInfo
# eastern = ZoneInfo("America/New_York")
# now_ny = datetime.now(tz=eastern)

In [18]:
# now_ny.hour

0

In [27]:
from sqlalchemy import create_engine, text

# RDS connection settings
rds_host = "rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com"
rds_db = "postgres"
rds_user = "postgres"
rds_password = "project#3password"
rds_port = 5432

# Create engine
engine = create_engine(
    f"postgresql+psycopg2://{rds_user}:{rds_password}@{rds_host}:{rds_port}/{rds_db}"
)

# Create the predicted_rides table with proper structure
create_table_sql = """
CREATE TABLE IF NOT EXISTS predicted_rides (
    pickup_location_id SMALLINT,
    prediction_datetime TIMESTAMP,
    predicted_rides SMALLINT
);
"""

with engine.connect() as conn:
    conn.execute(text(create_table_sql))
    conn.commit()
    print("Table created successfully!")

Table created successfully!

In [28]:
# First convert your DataFrame columns to the appropriate format
if 'predictions_df' in locals() and not predictions_df.empty:
    # Make sure prediction_datetime is in timestamp format
    if 'prediction_datetime' not in predictions_df.columns:
        # If not already present, create it from year, month, day, hour
        predictions_df['prediction_datetime'] = pd.to_datetime(
            predictions_df[['year', 'month', 'day', 'hour']].astype(str).agg('-'.join, axis=1)
        )
    
    # Select only the relevant columns for the database
    predicted_rides_df = predictions_df[['pickup_location_id', 'prediction_datetime', 'predicted_rides']]
    
    # Load to database
    predicted_rides_df.to_sql('predicted_rides', con=engine, if_exists='replace', index=False)
    print(f"Loaded {len(predicted_rides_df)} records to predicted_rides table")
else:
    print("No data available to load into the database")

Loaded 26352 records to predicted_rides table

In [33]:
import boto3

# Create Athena client
athena_client = boto3.client('athena', region_name="us-east-1")

# List available databases
list_databases_query = "SHOW DATABASES"
response = athena_client.start_query_execution(
    QueryString=list_databases_query,
    ResultConfiguration={'OutputLocation': 's3://jaath-buckets-0491f6b4-2be4-4ab9-9aa2-c62891ad4a9c/athena/'}
)

# Get the query results
query_execution_id = response['QueryExecutionId']
state = 'RUNNING'

# Wait for query to complete
while state in ['RUNNING', 'QUEUED']:
    response = athena_client.get_query_execution(QueryExecutionId=query_execution_id)
    state = response['QueryExecution']['Status']['State']
    if state in ['RUNNING', 'QUEUED']:
        import time
        time.sleep(1)

# Get results
if state == 'SUCCEEDED':
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    databases = []
    for row in results['ResultSet']['Rows'][1:]:  # Skip header
        databases.append(row['Data'][0]['VarCharValue'])
    print("Available databases:")
    for db in databases:
        print(f"- {db}")
else:
    print(f"Query failed: {response['QueryExecution']['Status'].get('StateChangeReason', 'Unknown reason')}")

Available databases:
- predictions
- taxi_db1
- taxi_db2_fil
- taxi_db_2324

In [34]:
from sqlalchemy import create_engine, text

engine = create_engine(
    "postgresql+psycopg2://postgres:project#3password@rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com:5432/postgres"
)

with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM taxi_rides"))
    print(f"Records in taxi_rides: {result.fetchone()[0]}")
    
    # Check for actual data with your specific location ID
    location_check = conn.execute(text(
        "SELECT COUNT(*) FROM taxi_rides WHERE pickup_location_id = 43"
    ))
    print(f"Records for location 43: {location_check.fetchone()[0]}")

Records in taxi_rides: 20872
Records for location 43: 0

In [35]:
# Find a location ID that has data
with engine.connect() as conn:
    result = conn.execute(text("SELECT DISTINCT pickup_location_id FROM taxi_rides LIMIT 10"))
    locations = [row[0] for row in result]
    print(f"Available location IDs: {locations}")

Available location IDs: [239, 235, 257, 240, 258, 247, 260, 254, 248, 244]

In [36]:
with engine.connect() as conn:
    # Check if there's any data for location 239
    result = conn.execute(text("""
        SELECT MIN(pickup_hour), MAX(pickup_hour), COUNT(*) 
        FROM taxi_rides 
        WHERE pickup_location_id = 239
    """))
    min_date, max_date, count = result.fetchone()
    print(f"Location 239 has {count} records from {min_date} to {max_date}")
    
    # Check if your predicted_rides table has data
    result = conn.execute(text("""
        SELECT COUNT(*) FROM predicted_rides
        WHERE pickup_location_id = 239
    """))
    pred_count = result.fetchone()[0]
    print(f"Location 239 has {pred_count} predicted records")

Location 239 has 744 records from 2024-12-01 00:00:00 to 2024-12-31 23:00:00
Location 239 has 0 predicted records

In [37]:
# from sqlalchemy import text
from sqlalchemy import create_engine, text

# Connect to your database
engine = create_engine(
    f"postgresql+psycopg2://postgres:project#3password@rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com:5432/postgres"
)

# List all tables in the database
with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT table_name 
        FROM information_schema.tables 
        WHERE table_schema = 'public'
        ORDER BY table_name;
    """))
    tables = [row[0] for row in result]
    print("Tables in database:", tables)

    # For each table, show its columns
    for table in tables:
        result = conn.execute(text(f"""
            SELECT column_name, data_type 
            FROM information_schema.columns 
            WHERE table_name = '{table}'
            ORDER BY ordinal_position;
        """))
        columns = [(row[0], row[1]) for row in result]
        print(f"\nColumns in {table}:")
        for col, dtype in columns:
            print(f"  {col} ({dtype})")

Tables in database: ['predicted_rides', 'taxi_rides']

Columns in predicted_rides:
  pickup_location_id (bigint)
  prediction_datetime (text)
  predicted_rides (bigint)

Columns in taxi_rides:
  pickup_hour (text)
  pickup_location_id (smallint)
  rides (smallint)
  year (text)
  month (text)

In [38]:
import datetime  # Added this line
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
def generate_sample_data(location_ids=[43, 74, 132]):
    """Generate and load sample data for specified location IDs"""
    # Connection to the database
    rds_host = "rds-taxi.cst0aqomgoh3.us-east-1.rds.amazonaws.com"
    rds_db = "postgres"
    rds_user = "postgres"
    rds_password = "project#3password"
    rds_port = 5432
    
    # Create engine
    engine = create_engine(
        f"postgresql+psycopg2://{rds_user}:{rds_password}@{rds_host}:{rds_port}/{rds_db}"
    )
    
    # Generate data for each location
    for location_id in location_ids:
        # Create time periods for the past 7 days with hourly data
        end_date = datetime.now()
        start_date = end_date - timedelta(days=7)
        
        date_range = pd.date_range(start=start_date, end=end_date, freq='H')
        
        # Generate actual data with a daily pattern
        actual_data = []
        for dt in date_range:
            # Create a daily pattern with peak hours
            hour = dt.hour
            if 7 <= hour <= 9 or 16 <= hour <= 18:  # Morning and evening peaks
                ride_count = np.random.randint(100, 200)
            elif 0 <= hour <= 5:  # Night lows
                ride_count = np.random.randint(0, 20)
            else:  # Regular hours
                ride_count = np.random.randint(30, 100)
                
            actual_data.append({
                'pickup_hour': dt.strftime('%Y-%m-%d %H:%M:%S'),
                'pickup_location_id': location_id,
                'rides': ride_count,
                'year': str(dt.year),
                'month': str(dt.month)
            })
        
        # Generate predicted data with slight variation from actual
        predicted_data = []
        for row in actual_data:
            dt = pd.to_datetime(row['pickup_hour'])
            # Add some random variation to make predictions slightly different
            predicted_ride_count = int(row['rides'] * (1 + np.random.uniform(-0.2, 0.2)))
            predicted_data.append({
                'pickup_location_id': location_id,
                'prediction_datetime': dt.strftime('%Y-%m-%d %H:%M:%S'),
                'predicted_rides': max(0, predicted_ride_count)  # Ensure non-negative
            })
        
        # Convert to dataframes
        actual_df = pd.DataFrame(actual_data)
        predicted_df = pd.DataFrame(predicted_data)
        
        # Check if data already exists for this location
        with engine.connect() as conn:
            actual_count = conn.execute(text(f"SELECT COUNT(*) FROM taxi_rides WHERE pickup_location_id = {location_id}")).fetchone()[0]
            predicted_count = conn.execute(text(f"SELECT COUNT(*) FROM predicted_rides WHERE pickup_location_id = {location_id}")).fetchone()[0]
        
        # Insert data if none exists
        if actual_count == 0:
            actual_df.to_sql('taxi_rides', engine, if_exists='append', index=False)
            print(f"Added {len(actual_df)} actual rides for location {location_id}")
        else:
            print(f"Location {location_id} already has {actual_count} actual records")
            
        if predicted_count == 0:
            predicted_df.to_sql('predicted_rides', engine, if_exists='append', index=False)
            print(f"Added {len(predicted_df)} predicted rides for location {location_id}")
        else:
            print(f"Location {location_id} already has {predicted_count} predicted records")
    
    print("Sample data generation complete!")

In [39]:
if __name__ == "__main__":
    generate_sample_data()

/tmp/ipykernel_717/2586488559.py:25: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start=start_date, end=end_date, freq='H')

Added 169 actual rides for location 43
Location 43 already has 26352 predicted records
Added 169 actual rides for location 74
Added 169 predicted rides for location 74
Added 169 actual rides for location 132
Added 169 predicted rides for location 132
Sample data generation complete!

In [40]:
from datetime import datetime, timedelta
from zoneinfo import ZoneInfo
eastern = ZoneInfo("America/New_York")
now_ny = datetime.now(tz=eastern)

In [41]:
now_ny.hour

16